.triangles {
    position: relative;
    width: 100%;
    height: 40vh;
    /* Ensure it takes full height of the grid cell */
    overflow: hidden;
    /* Ensure nothing spills outside */
}

.corner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.top-left {
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 0 45%, 100% 15%, 100% 0%);
    overflow: hidden;
}

.top-left:hover::before {
    content: 'Where I\'m From';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 12%;
    font-size: clamp(8px, 1rem, 24px);
    z-index: 7;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-left: 3px solid;
    border-image: linear-gradient(to bottom, teal 0%, blue 100%) 1;
    animation: slideLeftBorder 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

@keyframes slideLeftBorder {
    from {
        border-image: linear-gradient(to bottom, teal 0%, blue 5%) 1;
    }

    50% {
        border-image: linear-gradient(to bottom, teal 0%, blue 50%) 1;
    }

    to {
        border-image: linear-gradient(to bottom, teal 0%, blue 100%) 1;
    }
}

.top-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-30%);
}

.bottom-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(18%);
}

.bottom-right:hover::before {
    content: 'My Goals';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(8px, 1rem, 24px);
    z-index: 7;
    top: 35%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-left: 3px solid;
    border-image: linear-gradient(to bottom, purple 50%, lightgray 100%) 1;
    animation: slideRightBorder 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

@keyframes slideRightBorder {
    from {
        border-image: linear-gradient(to bottom, purple 50%, lightgray 5%) 1;
    }

    50% {
        border-image: linear-gradient(to bottom, purple 50%, lightgray 50%) 1;
    }

    to {
        border-image: linear-gradient(to bottom, purple 50%, lightgray 100%) 1;
    }
}

.bottom-right {
    bottom: 0;
    left: 0;
    clip-path: polygon(0 100%, 0 85%, 100% 55%, 100% 100%);
    overflow: hidden;
}

.diagonal {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0;
    clip-path: polygon(100% 15%, 0 45%, 0 85%, 100% 55%);
    overflow: hidden;
    z-index: 1;
}

.diagonal:hover::before {
    content: 'My Passions';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(8px, 1rem, 24px);
    z-index: 3;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-left: 3px solid;
    border-image: linear-gradient(to bottom, orange 0%, red 100%) 1;
    animation: slideBorder 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

@keyframes slideBorder {
    from {
        border-image: linear-gradient(to bottom, orange 0%, red 5%) 1;
    }

    50% {
        border-image: linear-gradient(to bottom, orange 0%, red 50%) 1;
    }

    to {
        border-image: linear-gradient(to bottom, orange 0%, red 100%) 1;
    }
}

.diagonal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.where-from,
.passions,
.goals {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    transform: translate(-50%, -50%) scale(0.8);
    left: 50%;
    overflow: hidden;
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.where-from h2,
.passions h2,
.goals h2 {
    color: black;
    text-align: center;
    max-width: 80%;
    margin-top: .25rem;
    margin-bottom: 0;
}

.where-from p,
.passions p,
.goals p {
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 3px rgba(134, 134, 134, 0.534);
    padding: .75rem;
    text-align: start;
    overflow-y: auto;
    border-radius: 10px;
    height: 90%;
    width: 90%;
}

.where-from button,
.passions button,
.goals button {
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    border: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.where-from.visible,
.passions.visible,
.goals.visible {
    opacity: 1;
    z-index: 7;
    transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 768px) {

    .diagonal::before {
        content: 'My Passions';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(8px, 1rem, 24px);
        z-index: 3;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        border-left: 3px solid;
        border-image: linear-gradient(to bottom, orange 0%, red 100%) 1;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        animation: none;
    }

    .bottom-right::before {
        content: 'My Goals';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(8px, 1rem, 24px);
        z-index: 7;
        top: 35%;
        left: 0%;
        width: 100%;
        height: 100%;
        border-left: 3px solid;
        border-image: linear-gradient(to bottom, purple 50%, lightgray 100%) 1;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        animation: none;
    }

    .top-left::before {
        content: 'Where I\'m From';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: start;
        padding-top: 12%;
        font-size: clamp(7px, .5rem, 24px);
        z-index: 7;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        border-left: 3px solid;
        border-image: linear-gradient(to bottom, teal 0%, blue 100%) 1;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        animation: none;
    }


    .triangles {
        height: 27vh;
    }

}